<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
<meta charset="utf-8">
<title>地方政策详解</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="">


<!-- Le styles -->
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/css/bootstrap.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/css/Core.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/css/responsive.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/css/ecms/skin/ecms-resources-wcmskin.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/css/uxp-pattern.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/css/docs.css" rel="stylesheet">
<link href="http://app.aireading.cn/exo-ux/eXoSkin/skin/css/responsive.css" rel="stylesheet">


<!-- syntaxhighlighter -->
<link href="http://app.aireading.cn/exo-ux/js/google-code-prettify/prettify.css" rel="stylesheet" type="text/css" />
<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->
<link rel="stylesheet" href="http://cache.amap.com/lbs/static/main.css?v=1.0" />

<link rel="stylesheet" href="css/map.css" />
<!-- Le fav and touch icons -->
<script src="http://app.aireading.cn/exo-ux/js/track.js" data-site-id="4f0dc9fef5a1f55508000013" id="gauges-tracker" async="" type="text/javascript"></script>
<script src="http://app.aireading.cn/exo-ux/js/ga.js" async="" type="text/javascript"></script>

<script src="js/public.js" type="text/javascript"></script>
<!--
<script type="text/javascript">
        var _gaq = _gaq || [];
        _gaq.push(['_setAccount', 'UA-146052-10']);
        _gaq.push(['_trackPageview']);
        (function() {
            var ga = document.createElement('script');
            ga.type = 'text/javascript';
            ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(ga, s);
        })();
</script>
-->

</head>

<body>
	
	<div class="container">
	
		<div class="container_left">
			
       		<ul class="breadcrumb">
    			<li style=" width:12%; height:200px;  border:3px solid #E6E6E6; padding:0px; margin:0px;">
                	<div style="width:100%; height:100px; text-align:center; line-height:100px;">
                    	领域                    </div>
                    
                    <div style="width:100%; height:100px; text-align:center; line-height:100px;">
                    	筛选                    </div>
                </li>
    			
                <li style="background:#E6E6E6; width:86%; height:200px; border:3px solid #E6E6E6; padding:0px; margin-left:-5px;">
                	
                    <ul class="breadcrumb" style="margin-top:10px; margin-bottom:10px;">
						<li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>所有购置方面政策</span>							</span>						</li>
        				<li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>补贴政策</span>							</span>						</li>
						<li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>税收优惠</span>							</span>						</li>
                        <li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>免限购</span>							</span>						</li>
    				</ul>
                    
                    
                    <ul class="breadcrumb" style="margin-top:10px; margin-bottom:10px;">
						<li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>所有使用方面政策</span>							</span>						</li>
        				<li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>补贴政策</span>							</span>						</li>
						<li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>税收优惠</span>							</span>						</li>
                        <li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>免限购</span>							</span>						</li>
    				</ul>
                    
                    <ul class="breadcrumb" style="margin-top:10px; margin-bottom:10px;">
						<li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>所有研发支持政策</span>							</span>						</li>
        				<li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>补贴政策</span>							</span>						</li>
						<li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>税收优惠</span>							</span>						</li>
    				</ul>
                    
                    <ul class="breadcrumb" style="margin-top:10px; margin-bottom:10px;">
						<li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>政策支持对象类型</span>							</span>						</li>
        				<li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>乘用车</span>							</span>						</li>
						<li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>客车</span>							</span>						</li>
                        <li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>专用车</span>							</span>						</li>
                        <li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox">
  								<span>零部件</span>							</span>						</li>
    				</ul>
                    
                    
                    <ul class="breadcrumb" style="margin-top:10px; margin-bottom:10px;">
                    
                    	<li class="active">发布时间</li>
                        
						<div class="input-append" style="margin-bottom:0px;">
      					
        				<div class="btn-group" style="padding:0; margin-bottom:3px;">
                            <input type="text" data-toggle="dropdown" class="input-mini" style="height:26px; width:50px;"> 
        					<ul class="dropdown-menu" style=" padding:0px;">
            					<div class="uiCalendarComponent uiBox" id="BlockCalendar" style="margin:0px; padding:0px;">
        							<div style="cursor: default" onmousedown="event.cancelBubble = true">
            							<h5 class="title clearfix">
                							<span>January, 2015</span>            							</h5>
            							<table class="weekList">
                <tbody>
                    <tr>
                        <td><font color="red">S</font></td>
                        <td>M</td>
                        <td>T</td>
                        <td>W</td>
                        <td>T</td>
                        <td>F</td>
                        <td>S</td>
                    </tr>
                </tbody>
            </table>
            							<hr>
            							<table cellspacing="0" cellpadding="0" class="weekDays" id="">
                <tbody>
                    <tr><td><a onclick="" class="otherMonth" href="">28</a></td>
                        <td><a onclick="" class="otherMonth" href="">29</a></td>
                        <td><a onclick="" class="otherMonth" href="">30</a></td>
                        <td><a onclick="" class="otherMonth" href="">31</a></td>
                        <td><a onclick="" href="" class="">1</a></td>
                        <td><a onclick="" href="" class="">2</a></td>
                        <td><a onclick="" href="" class="">3</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">4</a></td>
                        <td><a onclick="" href="" class="">5</a></td>
                        <td><a onclick="" href="" class="">6</a></td>
                        <td><a onclick="" href="" class="">7</a></td>
                        <td><a onclick="" href="" class="">8</a></td>
                        <td><a onclick="" href="" class="">9</a></td>
                        <td><a onclick="" href="" class="">10</a></td>
                    </tr>
                    <tr class="currentWeek">
                        <td><a onclick="" href="" class="">11</a></td>
                        <td><a onclick="" href="" class="">12</a></td>
                        <td><a onclick="" href="" class="">13</a></td>
                        <td><a onclick="" href="" class="">14</a></td>
                        <td><a onclick="" href="" class="">15</a></td>
                        <td><a onclick="" href="" class="highLight today">16</a></td>
                        <td><a onclick="" href="" class="">17</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">18</a></td>
                        <td><a onclick="" href="" class="">19</a></td>
                        <td><a onclick="eXo.webui.UICalendar.setDate(2015,1,20)" href="" class="">20</a></td>
                        <td><a onclick="" href="" class="">21</a></td>
                        <td><a onclick="" href="" class="">22</a></td>
                        <td><a onclick="" href="" class="">23</a></td>
                        <td><a onclick="" href="" class="">24</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">25</a></td>
                        <td><a onclick="" href="" class="">26</a></td>
                        <td><a onclick="" href="" class="">27</a></td>
                        <td><a onclick="" href="" class="">28</a></td>
                        <td><a onclick="" href="" class="">29</a></td>
                        <td><a onclick="" href="" class="">30</a></td>
                        <td><a onclick="" href="" class="">31</a></td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
            							<div class="calendarTimeInput">
                							<span>
                    							<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setHour(this)" value="16" maxlength="2" class="InputTime">:<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setMinus(this)" value="40" maxlength="2" class="InputTime">
                							</span>            							</div>
        							</div>
    							</div>
        					</ul>
    					</div>
                        
                        
						<span style="font-size:15px;padding-left:5px; padding-right:5px;">年--</span>
						<div class="btn-group" style="padding:0;  margin-bottom:3px;">
                            <input type="text" data-toggle="dropdown" class="input-mini" style="height:26px; width:50px;"> 
        					<ul class="dropdown-menu" style=" padding:0px;">
            					<div class="uiCalendarComponent uiBox" id="BlockCalendar" style="margin:0px; padding:0px;">
        							<div style="cursor: default" onmousedown="event.cancelBubble = true">
            							<h5 class="title clearfix">
                							<span>January, 2015</span>            							</h5>
            							<table class="weekList">
                <tbody>
                    <tr>
                        <td><font color="red">S</font></td>
                        <td>M</td>
                        <td>T</td>
                        <td>W</td>
                        <td>T</td>
                        <td>F</td>
                        <td>S</td>
                    </tr>
                </tbody>
            </table>
            							<hr>
            							<table cellspacing="0" cellpadding="0" class="weekDays" id="">
                <tbody>
                    <tr><td><a onclick="" class="otherMonth" href="">28</a></td>
                        <td><a onclick="" class="otherMonth" href="">29</a></td>
                        <td><a onclick="" class="otherMonth" href="">30</a></td>
                        <td><a onclick="" class="otherMonth" href="">31</a></td>
                        <td><a onclick="" href="" class="">1</a></td>
                        <td><a onclick="" href="" class="">2</a></td>
                        <td><a onclick="" href="" class="">3</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">4</a></td>
                        <td><a onclick="" href="" class="">5</a></td>
                        <td><a onclick="" href="" class="">6</a></td>
                        <td><a onclick="" href="" class="">7</a></td>
                        <td><a onclick="" href="" class="">8</a></td>
                        <td><a onclick="" href="" class="">9</a></td>
                        <td><a onclick="" href="" class="">10</a></td>
                    </tr>
                    <tr class="currentWeek">
                        <td><a onclick="" href="" class="">11</a></td>
                        <td><a onclick="" href="" class="">12</a></td>
                        <td><a onclick="" href="" class="">13</a></td>
                        <td><a onclick="" href="" class="">14</a></td>
                        <td><a onclick="" href="" class="">15</a></td>
                        <td><a onclick="" href="" class="highLight today">16</a></td>
                        <td><a onclick="" href="" class="">17</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">18</a></td>
                        <td><a onclick="" href="" class="">19</a></td>
                        <td><a onclick="eXo.webui.UICalendar.setDate(2015,1,20)" href="" class="">20</a></td>
                        <td><a onclick="" href="" class="">21</a></td>
                        <td><a onclick="" href="" class="">22</a></td>
                        <td><a onclick="" href="" class="">23</a></td>
                        <td><a onclick="" href="" class="">24</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">25</a></td>
                        <td><a onclick="" href="" class="">26</a></td>
                        <td><a onclick="" href="" class="">27</a></td>
                        <td><a onclick="" href="" class="">28</a></td>
                        <td><a onclick="" href="" class="">29</a></td>
                        <td><a onclick="" href="" class="">30</a></td>
                        <td><a onclick="" href="" class="">31</a></td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
            							<div class="calendarTimeInput">
                							<span>
                    							<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setHour(this)" value="16" maxlength="2" class="InputTime">:<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setMinus(this)" value="40" maxlength="2" class="InputTime">
                							</span>            							</div>
        							</div>
    							</div>
        					</ul>
    					</div>
						<span style="font-size:15px;padding-left:5px; padding-right:5px;">年</span>
                        
                        
                        <!---->
                        <span style="font-size:15px;padding-left:5px; padding-right:5px; font-weight:bold; color:#999; font-size:15.5px; vertical-align:middle; padding-bottom:3px;">废止时间</span>
                        <div class="btn-group" style="padding:0; margin-bottom:3px;">
                            <input type="text" data-toggle="dropdown" class="input-mini" style="height:26px; width:50px;"> 
        					<ul class="dropdown-menu" style=" padding:0px;">
            					<div class="uiCalendarComponent uiBox" id="BlockCalendar" style="margin:0px; padding:0px;">
        							<div style="cursor: default" onmousedown="event.cancelBubble = true">
            							<h5 class="title clearfix">
                							<span>January, 2015</span>            							</h5>
            							<table class="weekList">
                <tbody>
                    <tr>
                        <td><font color="red">S</font></td>
                        <td>M</td>
                        <td>T</td>
                        <td>W</td>
                        <td>T</td>
                        <td>F</td>
                        <td>S</td>
                    </tr>
                </tbody>
            </table>
            							<hr>
            							<table cellspacing="0" cellpadding="0" class="weekDays" id="">
                <tbody>
                    <tr><td><a onclick="" class="otherMonth" href="">28</a></td>
                        <td><a onclick="" class="otherMonth" href="">29</a></td>
                        <td><a onclick="" class="otherMonth" href="">30</a></td>
                        <td><a onclick="" class="otherMonth" href="">31</a></td>
                        <td><a onclick="" href="" class="">1</a></td>
                        <td><a onclick="" href="" class="">2</a></td>
                        <td><a onclick="" href="" class="">3</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">4</a></td>
                        <td><a onclick="" href="" class="">5</a></td>
                        <td><a onclick="" href="" class="">6</a></td>
                        <td><a onclick="" href="" class="">7</a></td>
                        <td><a onclick="" href="" class="">8</a></td>
                        <td><a onclick="" href="" class="">9</a></td>
                        <td><a onclick="" href="" class="">10</a></td>
                    </tr>
                    <tr class="currentWeek">
                        <td><a onclick="" href="" class="">11</a></td>
                        <td><a onclick="" href="" class="">12</a></td>
                        <td><a onclick="" href="" class="">13</a></td>
                        <td><a onclick="" href="" class="">14</a></td>
                        <td><a onclick="" href="" class="">15</a></td>
                        <td><a onclick="" href="" class="highLight today">16</a></td>
                        <td><a onclick="" href="" class="">17</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">18</a></td>
                        <td><a onclick="" href="" class="">19</a></td>
                        <td><a onclick="eXo.webui.UICalendar.setDate(2015,1,20)" href="" class="">20</a></td>
                        <td><a onclick="" href="" class="">21</a></td>
                        <td><a onclick="" href="" class="">22</a></td>
                        <td><a onclick="" href="" class="">23</a></td>
                        <td><a onclick="" href="" class="">24</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">25</a></td>
                        <td><a onclick="" href="" class="">26</a></td>
                        <td><a onclick="" href="" class="">27</a></td>
                        <td><a onclick="" href="" class="">28</a></td>
                        <td><a onclick="" href="" class="">29</a></td>
                        <td><a onclick="" href="" class="">30</a></td>
                        <td><a onclick="" href="" class="">31</a></td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
            							<div class="calendarTimeInput">
                							<span>
                    							<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setHour(this)" value="16" maxlength="2" class="InputTime">:<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setMinus(this)" value="40" maxlength="2" class="InputTime">
                							</span>            							</div>
        							</div>
    							</div>
        					</ul>
    					</div>
                        
                        
						<span style="font-size:15px;padding-left:5px; padding-right:5px;">年--</span>
						<div class="btn-group" style="padding:0;  margin-bottom:3px;">
                            <input type="text" data-toggle="dropdown" class="input-mini" style="height:26px; width:50px;"> 
        					<ul class="dropdown-menu" style=" padding:0px;">
            					<div class="uiCalendarComponent uiBox" id="BlockCalendar" style="margin:0px; padding:0px;">
        							<div style="cursor: default" onmousedown="event.cancelBubble = true">
            							<h5 class="title clearfix">
                							<span>January, 2015</span>            							</h5>
            							<table class="weekList">
                <tbody>
                    <tr>
                        <td><font color="red">S</font></td>
                        <td>M</td>
                        <td>T</td>
                        <td>W</td>
                        <td>T</td>
                        <td>F</td>
                        <td>S</td>
                    </tr>
                </tbody>
            </table>
            							<hr>
            							<table cellspacing="0" cellpadding="0" class="weekDays" id="">
                <tbody>
                    <tr><td><a onclick="" class="otherMonth" href="">28</a></td>
                        <td><a onclick="" class="otherMonth" href="">29</a></td>
                        <td><a onclick="" class="otherMonth" href="">30</a></td>
                        <td><a onclick="" class="otherMonth" href="">31</a></td>
                        <td><a onclick="" href="" class="">1</a></td>
                        <td><a onclick="" href="" class="">2</a></td>
                        <td><a onclick="" href="" class="">3</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">4</a></td>
                        <td><a onclick="" href="" class="">5</a></td>
                        <td><a onclick="" href="" class="">6</a></td>
                        <td><a onclick="" href="" class="">7</a></td>
                        <td><a onclick="" href="" class="">8</a></td>
                        <td><a onclick="" href="" class="">9</a></td>
                        <td><a onclick="" href="" class="">10</a></td>
                    </tr>
                    <tr class="currentWeek">
                        <td><a onclick="" href="" class="">11</a></td>
                        <td><a onclick="" href="" class="">12</a></td>
                        <td><a onclick="" href="" class="">13</a></td>
                        <td><a onclick="" href="" class="">14</a></td>
                        <td><a onclick="" href="" class="">15</a></td>
                        <td><a onclick="" href="" class="highLight today">16</a></td>
                        <td><a onclick="" href="" class="">17</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">18</a></td>
                        <td><a onclick="" href="" class="">19</a></td>
                        <td><a onclick="eXo.webui.UICalendar.setDate(2015,1,20)" href="" class="">20</a></td>
                        <td><a onclick="" href="" class="">21</a></td>
                        <td><a onclick="" href="" class="">22</a></td>
                        <td><a onclick="" href="" class="">23</a></td>
                        <td><a onclick="" href="" class="">24</a></td>
                    </tr>
                    <tr><td><a onclick="" href="" class="">25</a></td>
                        <td><a onclick="" href="" class="">26</a></td>
                        <td><a onclick="" href="" class="">27</a></td>
                        <td><a onclick="" href="" class="">28</a></td>
                        <td><a onclick="" href="" class="">29</a></td>
                        <td><a onclick="" href="" class="">30</a></td>
                        <td><a onclick="" href="" class="">31</a></td>
                    </tr>
                    <tr></tr>
                </tbody>
            </table>
            							<div class="calendarTimeInput">
                							<span>
                    							<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setHour(this)" value="16" maxlength="2" class="InputTime">:<input type="text" onblur="this.parentNode.className=''" onfocus="this.parentNode.className='focus'" onkeyup="eXo.webui.UICalendar.setMinus(this)" value="40" maxlength="2" class="InputTime">
                							</span>            							</div>
        							</div>
    							</div>
        					</ul>
    					</div>
						<span style="font-size:15px;padding-left:5px; padding-right:5px;">年</span>    				</div>
    				</ul>
           		</li>
            </ul>
            
            
            
            <ul class="breadcrumb">
    			<li style=" width:12%; height:400px;  border:3px solid #E6E6E6; padding:0px; margin:0px;">
                	<div style="width:100%; height:200px; text-align:center; line-height:200px;">
                    	地域                    </div>
                    
                    <div style="width:100%; height:200px; text-align:center; line-height:200px;">
                    	筛选                    </div>
                </li>
    			
                <li style="width:86%; height:400px; border:3px solid #E6E6E6; padding:0px; margin-left:-5px;">
                	
                    <!--
                    <ul class="breadcrumb" style="margin-top:5px; margin-bottom:10px;">
						<li>
							<span class="uiCheckbox">
  								<input type="checkbox" class="checkbox" onclick="click_all(this)">
  								<span>全选</span>
							</span>
						</li>
    				</ul>
                    -->
                        
                    <div id="main" style="width:100%; height:360px;">					</div>
           		</li>
            </ul>
            
			<a href="input2.html" class="btn btn-mini" type="button" style="padding:2px 10px;font-size:13px; float:left;">上传</a>
			
            <button class="btn btn-mini" type="button" style="padding:2px 10px;font-size:13px; float:right;">确定</button>
		</div>
	
	<div class="container_right">
		
		<a style="width:40px; float:right;" class="btn btn-primary btn-large" href="index.html">返回</a>
		
		
		<!---->
		<div style="margin-top:215px;">
		    <div id="accordion" class="accordion">
        		<h5 class="menuHeader" style="background:#578DC9; color:#FFFFFF;">搜索历史</h5>
        		
				<div class="accordion-group">
            		<div class="accordion-heading">
                		<div class="accordion-toggle collapsed">
                    		<a data-toggle="tab" href="#modals" style="padding:5px 8px 4px 15px;"><i class="uiIconSelected pull-right"></i>搜索历史</a>                		</div>
            		</div>
        		</div>
        
				<div class="accordion-group">
            		<div class="accordion-heading">
                		<div class="accordion-toggle collapsed">
                    		<a data-toggle="tab" href="#modals" style="padding:5px 8px 4px 15px;"><i class="uiIconSelected pull-right"></i>搜索历史</a>                		</div>
            		</div>
        		</div>
				
        		<div class="accordion-group">
            		<div class="accordion-heading">
                		<div class="accordion-toggle collapsed">
                    		<a data-toggle="tab" href="#modals" style="padding:5px 8px 4px 15px;"><i class="uiIconSelected pull-right"></i>搜索历史</a>                		</div>
            		</div>
        		</div>
        
				<div class="accordion-group">
            		<div class="accordion-heading">
                		<div class="accordion-toggle collapsed">
                    		<a data-toggle="tab" href="#modals" style="padding:5px 8px 4px 15px;"><i class="uiIconSelected pull-right"></i>搜索历史</a>                		</div>
            		</div>
        		</div>
				
				<div class="accordion-group">
            		<div class="accordion-heading">
                		<div class="accordion-toggle collapsed">
                    		<a data-toggle="tab" href="#modals" style="padding:5px 8px 4px 15px;"><i class="uiIconSelected pull-right"></i>搜索历史</a>                		</div>
            		</div>
        		</div>
    		</div>
		</div>
	</div>
</div>	
</body>


<script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-dropdown.js"></script>


 <!-- Le javascript -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script type="text/javascript" src="http://app.aireading.cn/exo-ux/js/widgets.js"></script>
    <script src="http://app.aireading.cn/exo-ux/js/jquery.js"></script>
    <script src="http://app.aireading.cn/exo-ux/js/prettify.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-transition.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-alert.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-modal.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-dropdown.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-scrollspy.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-tab.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-tooltip.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-popover.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-button.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-collapse.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-carousel.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-typeahead.js"></script>
    <script src="http://app.aireading.cn/exo-ux/eXoSkin/skin/bootstrap/js/bootstrap-affix.js"></script>
    <script src="http://app.aireading.cn/exo-ux/js/application-update.js"></script>
	
	<script type="text/javascript" src="http://app.aireading.cn/exo-ux/js/sorttable.js"></script>
	
    <!-- syntaxhighlighter -->
    <script type="text/javascript" src="http://app.aireading.cn/exo-ux/js/google-code-prettify/prettify.js"></script>
	
	
    <script type="text/javascript" src=	"http://webapi.amap.com/maps?v=1.3&key=b23cb51fd67fa09da9478fc6a14cc200&plugin=AMap.Geocoder"></script>
	<script type="text/javascript" src="http://cache.amap.com/lbs/static/addToolbar.js"></script>
    <script src="js/echarts.js"></script>
    <script src="js/map.js" type="text/javascript"></script>
    <!-- Analytics 
    <script>
	
		var map = new AMap.Map("mapview", {
        	resizeEnable: true,
			zoom:4,
			/*center:new AMap.LngLat(109.782437,19.181189)*/
   		});
	
	
	
        var _gauges = _gauges || [];
        (function() {
            var t = document.createElement('script');
            t.type = 'text/javascript';
            t.async = true;
            t.id = 'gauges-tracker';
            t.setAttribute('data-site-id', '4f0dc9fef5a1f55508000013');
            t.src = '//secure.gaug.es/track.js';
            var s = document.getElementsByTagName('script')[0];
            s.parentNode.insertBefore(t, s);
        })();
		
    </script>
    -->
    
    
    <!--<script src="js/echarts.min.js"></script>
    
	<script type="text/javascript">
        // 路径配置
        require.config({
            paths: {
                echarts: 'http://echarts.baidu.com/build/dist'
            }
        });
        
		var myChart;
		var option;
		var need_clear_selected=false;
		
        // 使用
        require(
            [
                'echarts',
                'echarts/chart/map' // 使用柱状图就加载bar模块，按需加载
            ],
            function (ec) {
                // 基于准备好的dom，初始化echarts图表
               myChart = ec.init(document.getElementById('main')); 
                
               option = {
				    tooltip : {
				        trigger: 'item',
				        formatter: '{b}'
				    },
				    series : [
				        {
				            name: '中国',
				            type: 'map',
				            mapType: 'china',
				            selectedMode : 'multiple',
				            itemStyle:{
				                normal:{label:{show:true}},
				                emphasis:{label:{show:true}}
				            },
				            data:[
				                /*{name:'浙江',selected:true}*/
				            ]
				        }
				    ]
				};
				
				choose_init();
				//choose_all();
				//choose_empty();
				
				var ecConfig = require('echarts/config');
				myChart.on(ecConfig.EVENT.MAP_SELECTED, function (param){
					
				    var selected = param.selected;
					
					//alert(selected[0]);
					
				    var str = '当前选择： ';
				    for (var p in selected) {
						str += p + ' '+selected[p]+" || ";
				        if (selected[p]) {
				            //str += p + ' '+selected[p]+" || ";
				        }
				    }
				    //document.getElementById('wrong-message').innerHTML = str;
					//alert(str);
				})
                // 为echarts对象加载数据 
                myChart.setOption(option); 
            }
        );
		
		
		
		function click_all(box)
		{
			if(box.checked==false)
			{
				choose_empty();
			}else
			{
				choose_all();
			}
			
		}
		
		
		var citys=["新疆","西藏","内蒙古","青海","四川","黑龙江","甘肃","云南","广西","湖南","陕西","广东","吉林","河北","湖北","贵州","山东","江西","河南","辽宁","山西","安徽","福建","浙江","江苏","重庆","宁夏","海南","台湾","北京","天津","上海","香港","澳门","南海诸岛"];
		
		function choose_init()
		{
			
			var i=0;
			
			for(i in citys)
			{ 
				option['series'][0]['data'].push({name:citys[i],selected:false});
			}
			
		}
		
		
		
		function choose_all_2()
		{
			
			var i=0;
			
			option['series'][0]['data']=[];
			
			for(i in citys)
			{ 
				option['series'][0]['data'].push({name:citys[i],selected:true});
			}
			
			
			myChart.setOption(option);
		}
				
				
		function choose_empty_2()
		{
			
			var i=0;
			
			option['series'][0]['data']=[];
			
			for(i in citys)
			{ 
				option['series'][0]['data'].push({name:citys[i],selected:false});
			}
			
			myChart.setOption(option);
			
			option['series'][0]['data']=[];
			
			//myChart.setOption(option);
		}
		
		
		
		function choose_all()
		{
			
			
			var i=0;
			var str="";
			for(i in citys)
			{ 
				option['series'][0]['data'][i]["selected"]=true;
				str+=option['series'][0]['data'][i]["name"]+" "+option['series'][0]['data'][i]["selected"]+"   ";
			}
			
			
			myChart.setOption(option);
			
			
			//myChart.chart.map.showTip({'name':'上海'});
			
		}
				
				
		function choose_empty()
		{
			
			var i=0;
			var str="";
			for(i in citys)
			{ 
				option['series'][0]['data'][i]["selected"]=false;
				str+=option['series'][0]['data'][i]["name"]+" "+option['series'][0]['data'][i]["selected"]+"   ";
			}
			
			
			myChart.setOption(option);
		}
    </script>-->
</html>
